<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
    <title>Zoom Clone</title>
  </head>
  <body>
    <header>
      <h1>Zoom</h1>
    </header>
    <main>
      <div id="welcome">
        <form>
          <input placeholder="Room Name" type="text" required></input>
          <button>Enter Room</button>
        </form>
      </div>
      <div id="room">
        <h3></h3>
        <ul></ul>
        <form id="name">
          <input placeholder="Input Nmae" type="text" required></input>
          <button>Save</button>
        </form>
        <form id="msg">
          <input placeholder="Input Message" type="text" required></input>
          <button>Send</button>
        </form>
      </div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/app.js"></script>
  </body>
</html>
