<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
    <title>Zoom Clone</title>
  </head>
  <body>
    <header>
      <h1>Zoom</h1>
    </header>
    <main>
      <div id="welcome">
        <form>
          <input type="text" required placeholder="Room Name" />
          <button>Enter Room</button>
        </form>
      </div>
      <div id="call">
        <div id="myStream">
          <video id="myFace" src="" autoplay width="400" height="400"></video>
          <button id="mute">Mute</button>
          <button id="camera">Turn Camera Off</button>
          <select id="cameras">
            <option value="device">Face Camera</option>
          </select>
        </div>
      </div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/app.js"></script>
  </body>
</html>
